    section {
        min-width: 80%;
        min-height: 70vh;
        padding: 10px 5rem;
    }
    
    section-flex {
        min-width: 80%;
        min-height: 70vh;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    // Start Section
    .section-left {
        width: 46%;
        padding: 0px 2%;
        float: left;
        min-height: 70vh;
    }
    
    .section-right {
        width: 46%;
        padding: 0px 2%;
        float: right;
        min-height: 70vh;
    }
    
    .name {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 7em;
        line-height: 125px;
    }
    
    .titles {
        margin-top: 50%;
        transform: translateY(-50%);
        margin-left: 6em;
        a {
            font-size: 3em;
            color: white;
        }
        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
            font-size: 1.7em;
        }
    }
    
    .social-link {
        margin-right: 1em;
        transition: all .2s ease-in-out;
        border-bottom-color: transparent;
    }
    
    .social-link:hover {
        border-bottom-style: solid;
        border-bottom-style: 5px;
        border-bottom-color: red;
    }
    
    .contact-sub {
        p {
            float: left;
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
            font-size: 2.4em;
        }
        div {
            float: right;
            margin-block-start: 2.5em;
            a {
                font-size: 2.5em;
                color: white;
            }
        }
    }
    
    .sub {
        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
            font-size: 1.7em;
            margin-block-start: 3em;
            line-height: 200%;
        }
    }
    
    .skills-icon {
        width: 3.5vw;
        padding: 2vw 2vw;
        transition: all .2s ease-in-out;
    }
    
    .skills-icon:hover {
        background-color: rgb(182, 12, 12);
        border-radius: 5px;
    }
    
    // End Section
    // Portfolio Section
    section-flex thumbnail {
        transform-origin: left top;
        flex-grow: 2;
        flex-basis: 25rem;
        max-width: 25rem;
        max-height: 28.5rem;
        cursor: pointer;
        background-color: white;
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        color: #AAA;
        text-align: center;
        overflow: hidden;
        img {
            min-height: 100%;
            max-height: 120%;
            width: 100%;
            transition: all .2s ease-in-out;
        }
        p {
            opacity: 0;
            padding: 0.5em 1.6em;
            padding-bottom: 1em;
            margin-top: 2em;
            position: absolute;
            color: white;
            z-index: 5;
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
        }
    }
    
    section-flex thumbnail:hover {
        img {
            transform: scale(1.1);
        }
    }
    
    .see-more-div {
        display: none;
    }
    
    .resume-button {
        background-color: transparent;
        border-color: white;
        color: white;
        border-style: solid;
        border-radius: 10px;
        width: 15vw;
        height: 8vh;
        font-family: 'Poppins', sans-serif;
        transition: all .2s ease-in-out;
        font-weight: 700;
        font-size: 1em;
        cursor: pointer;
        padding: 1rem 1.75rem;
        text-decoration: none;
    }
    
    .resume-button:hover {
        background-color: white;
        border-color: white;
        color: black;
    }
    
    #modal {
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        position: fixed;
        z-index: -5;
        cursor: none;
        transition: all .2s ease-in-out;
        cover {
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.2);
        }
        div {
            min-width: 70%;
            min-height: 50%;
            max-height: 90%;
            max-width: 90%;
            left: 50%;
            top: 50%;
            transform: translate( -50%, -50%);
            position: absolute;
            background-color: rgb(255, 255, 255);
            color: black;
            border-radius: 5px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 1em;
            text-align: center;
            justify-content: center;
            overflow: auto;
            z-index: 11;
            .display {
                min-width: 40%;
                min-height: 40%;
                max-width: 50%;
                max-height: 50%;
                margin: .5em;
                border-radius: 5px;
            }
            p {
                padding: 1em;
                font-weight: 400;
            }
            h5 {
                font-weight: 400;
            }
            close {
                top: 5%;
                right: 7%;
                z-index: 3;
                position: absolute;
                cursor: pointer;
                span {
                    width: 5px;
                    background-color: black;
                    position: absolute;
                    border-radius: 2px;
                    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
                }
                span:nth-child(1) {
                    width: 20px;
                    height: 4px;
                    left: 0px;
                    transform: rotate(45deg);
                    top: 13px;
                }
                span:nth-child(2) {
                    width: 20px;
                    height: 4px;
                    transform: rotate(-45deg);
                    top: 13px;
                    left: 0px;
                }
            }
            close:hover {
                span:nth-child(1) {
                    width: 20px;
                    height: 6px;
                    left: 0px;
                    transform: rotate(45deg);
                    top: 15px;
                }
                span:nth-child(2) {
                    width: 20px;
                    height: 6px;
                    transform: rotate(-45deg);
                    top: 15px;
                    left: 0px;
                }
            }
        }
    }
    
    #modal.open {
        opacity: 1;
        z-index: 10;
        cursor: auto;
    }
    
    // End Section
    @media only screen and (max-width: 1100px) {
        // Start Section
        .section-left {
            width: 100%;
            padding: 0px 2%;
            min-height: auto;
        }
        .section-right {
            width: 100%;
            padding: 0px 2%;
            min-height: auto;
            .titles {
                margin-top: 10%;
                margin-left: 5%;
            }
        }
        .skills-icon {
            width: 10vw;
            padding: 0px 3vw;
        }
        .more-thumbnail {
            transition: all .1s ease-in-out;
        }
        .more-thumbnail:not(.open) {
            opacity: 0;
            flex-basis: 25rem;
            max-width: 25rem;
            max-height: 0rem;
            p {
                display: none;
            }
        }
        .more-thumbnail.open {
            opacity: 1;
            flex-basis: 25rem;
            max-width: 25rem;
            max-height: 28.5rem;
            p {
                display: inline;
            }
        }
        .see-more-div {
            margin-top: 20px;
            width: 100%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            display: block;
        }
        .see-more-button {
            justify-content: center;
            margin-left: 50%;
            margin-right: 50%;
            transform: translateX(-50%);
            background-color: transparent;
            border-color: white;
            color: white;
            border-style: solid;
            border-radius: 10px;
            width: 15vw;
            height: 8vh;
            font-family: 'Poppins', sans-serif;
            transition: all .2s ease-in-out;
            font-weight: 700;
            font-size: 1.5em;
            cursor: pointer;
        }
        .see-more-button:hover {
            background-color: rgba(255, 255, 255, .2);
        }
        .see-more-button::after {
            content: "MORE";
            transition: all .2s ease-in-out;
        }
        .see-more-button.open::after {
            content: "HIDE";
        }
        .sub {
            p {
                margin-block-start: 0;
            }
        }
        section-flex thumbnail {
            p {
                opacity: 1;
            }
        }
    }
    
    .tooltip {
        display: none;
        position: absolute;
        border: 1px solid #333;
        background-color: #333;
        border-radius: 5px;
        padding: 2px 6px;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 1.5em;
    }
    
    @media only screen and (max-width: 575px) {
        .titles {
            h1 {
                font-size: 1.5em;
            }
        }
    }
    
    @media only screen and (max-width: 350px) {
        .titles {
            h1 {
                font-size: 1em;
            }
        }
    }