$dark-gray: #525252;
$mouse-width: 12px;

.mouse-scroll-down {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mouse {
  display: inline-block;
  vertical-align: middle;
  width: $mouse-width;
  height: 22px;
  position: relative;
  border: 2px solid $dark-gray;
  border-radius: $mouse-width;

  &:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $dark-gray;
    animation: mouse-animation 2.75s ease-in-out infinite;
  }
}

@keyframes mouse-animation {
  0% {
    transform: scale(1, 0);
    transform-origin: 50% 0;
  }

  20%,
  80% {
    transform: scale(1, 1);
  }

  81% {
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 50% 100%;
  }
}

.mouse-left,
.mouse-right {
  display: inline-block;
  vertical-align: middle;
  padding: 0 18px;
  font-size: 13px;
  font-weight: bold;
  color: $dark-gray;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}